


body {
    background-color: #3cc868;
    margin: 0 auto;
}
.container{

background-color: red;
padding: 1rem;

}
.tittle{
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container__products{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.cardContainer{
text-align: center;
  width: 20rem;
  border: 2px solid white;
  margin: 20px  
    }

    .productName {

font-weight: bolder;
font-size: 25px;
    }